
    .navbar-brand{
        font-size: 22px;
        font-weight: bold;
        color:#663399;
    }
    .nav-link{
        font-size: 18px;
        font-weight: bold;
        columns: #663399;
        margin-right: 10px;
        
    }
    .login{
        color:#663399 !important;
    }

